/* Add your CSS here. Utilize Tailwind classes or write custom styles to bring your unique design to life. */

body {
  display: flex;
}

.left-col {
  height: 100%;
  width: clamp(30%, 65vw, 100%);
}

img {
  margin-top: 80px;
}

.fa-star {
  color: #ffa41b;
  width: 24px;
}

.rating {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 16px;
}

.rating span {
  font-size: 14px;
}

@media (min-width: 640px) {
  .left-col {
    height: 100%;
    width: 45%;
    background-image: url("https://images.unsplash.com/photo-1588413333567-fbbeba4d6405?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .left-col img {
    display: none;
  }

  .right-col {
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  heading {
    position: absolute;
    top: 5vh;
    right: 40vw;
    /* left: clamp(25%, 28%, 38%); */
    height: 200px;
    width: clamp(600px, 55vw, 855px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 15px;
    /* padding: 84px; */
  }

  h1 {
    font-size: clamp(24px, 4vw, 48px);
    font-weight: bold;
  }

  .recipe-info-container {
    margin-left: 72px;
  }

  .recipe-stats-container {
    width: 400px;
    display: flex;
    gap: 36px;
  }

  .recipe-stats-container li {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .recipe-flex-container {
    display: flex;
    flex-direction: column;
  }
  .stat-title {
    font-size: 12px;
  }

  .stat-info {
    font-size: 14px;
    color: #ffa41b;
    align-self: center;
  }

  .recipe-description {
    font-style: italic;
    font-size: 18px;
    line-height: 31px;
    margin-top: 24px;
    max-width: 800px;
  }

  .ingredient-list {
  }

  .recipe-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }

  .ingredient-list li {
    margin-bottom: 0.875rem;
  }

  .ingredient-name,
  .recipe-instruction {
    font-size: 18px;
    color: #000000;
    opacity: 80%;
    line-height: 42px;
  }

  ol {
    list-style-type: upper-roman;
    list-style-position: inside;
  }
}

@media (min-width: 2560px) {
  .left-col {
    height: 100%;
    width: 50%;
    background-image: url("https://images.unsplash.com/photo-1588413333567-fbbeba4d6405?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
